body {
  margin: 0;
  direction: rtl;
}

asd {
  font-weight: bold;
  background-color: yellow;

}

.app {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  grid-gap: 15px;
  padding: 10px;
}

.filter {
  min-width: 250px;
  margin-top: 10px;
}

.item {
  padding: 10px;
  width: 100%;
  margin: 10px 0 0;
  background: #eaeaea;
  position: relative;
  transition: all ease 0.2s;
}

.item-key {
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.item-key .value {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

pre {
  background: black;
  max-width: 300px;
  overflow: scroll;
}


@media (max-width: 768px) {
  .app {
    grid-template-columns: auto;
  }
}
