body {
  direction: rtl;

}

mark {
  font-weight: bold;
  background-color: yellow;
  
}

div.top_bar {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #dce0e0;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
}

img.logo{
  padding-left: 20px;
  width: 100%;

}
div.datasearch{
  width: 100%;
}

div.app{
  padding: 0px;
}



.standard_title
{
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
  }

.desc1{
  font-weight: bold;
  font-size: 17px;
  }

.desc2{
  font-weight: bold;
  font-size: 16px;
  text-indent:5px;
  }

.desc3{
  font-weight: bold;
  font-size: 15px;
  text-indent: 10px;
  }

.desc4{
  font-weight: bold;
  font-size: 14px;
  text-indent: 15px;
  }

.all_body
{
padding-top: 10px;
display: flex;
}

.SearchResult
{
  flex: 10;
}
.filterReslut{
  flex: 1;
  padding-left: 10px;
}
.filterReslut .filter ul { max-height: none }

.app {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  grid-gap: 15px;
  padding: 10px;
}

.filter {
  min-width: 250px;
  margin-top: 10px;
}


.item {
  padding: 10px;
  width: 100%;
  margin: 10px 0 0;
  background: #eaeaea;
  position: relative;
  transition: all ease 0.2s;
}

.item-key {
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.item-key .value {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

pre {
  background: black;
  max-width: 300px;
  overflow: scroll;
}

@media (max-width: 768px) {
  .app {
    grid-template-columns: auto;
  }
}